@font-face {
  font-family: "WorkSans";
  src: url(./assets/font/WorkSans-VariableFont_wght.ttf);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "WorkSans", sans-serif;
  font-weight: 500;
}

#cssproject {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  padding: 50px 0;
  height: 450px;
}

.projectcard {
  border: 1px solid red;
  height: 100%;
  display: grid;
  grid-template-rows: 70% 15% 15%;
  border-radius: 10px;
  overflow: hidden;
  text-align: center;
}

.projectcard h3 {
  font-size: 1.5rem;
  padding: 10px 0;
}

.card-img {
  height: 100%;
  padding: 15px;
  border-radius: 30px;
}

.card-btn {
  border: 1px solid black;
  width: 200px;
  height: 40px;
  margin: 0 auto;
  border-radius: 150px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.card-btn a:visited {
  text-decoration: none;
}
