@font-face {
  font-family: "Inter";
  src: url(./src/font/Inter-Regular.ttf);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  height: 100vh;
  font-family: "Inter", sans-serif;
  background-color: rgb(27, 27, 27);
}

nav {
  display: flex;
  justify-content: space-between;
  color: white;
  padding: 20px;
}

h2 {
  font-size: 1.2rem;
  cursor: pointer;
}

ul {
  display: flex;
  justify-content: space-between;
  width: 50%;
  list-style-type: none;
  padding: 0 10px;
}

li {
  font-size: 0.9rem;
  cursor: pointer;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 80%;
}

.header-left {
  width: 50%;
  height: 100%;
  display: flex;
  align-items: center;
}

.header-left-container {
  color: white;
  padding: 0 20px;
  height: 60%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

h1 {
  font-size: 4.7rem;
  margin: 10px 0;
}

.header-left-container h3 {
  color: blue;
  font-size: 1.7rem;
  margin: 10px 0;
}

p {
  margin: 10px 0;
  font-size: 0.8rem;
}

.header-right {
  width: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 30px 0;
}

#modem {
  width: 85%;
}
