@font-face {
  font-family: "MM";
  src: url(./assets/font/Montserrat-Medium.ttf);
}

@font-face {
  font-family: "MT";
  src: url(./assets/font/Montserrat-Thin.ttf);
}

* {
  font-family: "MT", sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

li {
  list-style-type: none;
}

/* /////////////////// NAVBAR /////////////////// */

nav {
  width: 75%;
  margin: 0 auto;
  text-transform: uppercase;
  font-size: 0.9rem;
  padding: 15px 0;
}

nav ul {
  display: flex;
  justify-content: space-around;
}

nav li {
  padding: 10px;
  font-family: "MM", sans-serif;
}

nav li:hover {
  color: purple;
  cursor: pointer;
}

#language {
  background: lightgray;
  border-radius: 20px;
}

/* /////////////////// HEADER /////////////////// */

header {
  background: url("./assets/img/bg.jpg") center/cover fixed;
  padding: 50px 0;
}

.main-header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-transform: uppercase;
  color: white;
}

h1 {
  margin: 30px 0;
  font-size: 1.4rem;
  letter-spacing: 2px;
}

button {
  background-color: transparent;
  border: 1px solid white;
  padding: 10px 20px;
  margin: 10px 0;
  text-transform: uppercase;
  color: white;
  letter-spacing: 2px;
  cursor: pointer;
  transition: 0.2s;
}

button:hover {
  border: 1px solid black;
  background: white;
  color: black;
}

.header-text {
  margin: 35px auto;
  text-align: center;
  font-size: 1.1rem;
  width: 70%;
}

/* /////////////////// ICON PART /////////////////// */

.icon-part {
  background: black;
}

.icon-part-container {
  width: 70%;
  margin: 0 auto;
  padding: 40px 0;
  display: grid;
  grid-template-columns: 33% 33% 33%;
}

.list-icon-part {
  display: grid;
  grid-template-rows: 45% 10% 20% 25%;
  color: white;
  justify-content: center;
  align-items: center;
}

.lip-logo {
  text-align: center;
}

.list-icon-part h3 {
  text-transform: uppercase;
  font-family: "MM", sans-serif;
  text-align: center;
  margin: 70px 0;
}

.list-icon-part p {
  text-align: center;
  margin: 0 20px;
}

.list-icon-part button {
  width: 200px;
  margin: 0 auto;
}
