@font-face {
  font-family: "MM";
  src: url(./assets/font/Montserrat-Medium.ttf);
}

@font-face {
  font-family: "MT";
  src: url(./assets/font/Montserrat-Thin.ttf);
}

* {
  font-family: "MT", sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

li {
  list-style-type: none;
}

/* /////////////////// NAVBAR /////////////////// */

nav {
  width: 75%;
  margin: 0 auto;
  text-transform: uppercase;
  font-size: 0.9rem;
  padding: 15px 0;
}

nav ul {
  display: flex;
  justify-content: space-around;
}

nav li {
  padding: 10px;
  font-family: "MM", sans-serif;
}

nav li:hover {
  color: purple;
  cursor: pointer;
}

#language {
  background: lightgray;
  border-radius: 20px;
}

/* /////////////////// HEADER /////////////////// */

header {
  background: url("./assets/img/bg.jpg") center/cover fixed;
  padding: 50px 0;
}

.main-header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-transform: uppercase;
  color: white;
}

h1 {
  margin: 30px 0;
  font-size: 1.4rem;
  letter-spacing: 2px;
}

button {
  background-color: transparent;
  border: 1px solid white;
  padding: 10px 20px;
  margin: 10px 0;
  text-transform: uppercase;
  color: white;
  letter-spacing: 2px;
  cursor: pointer;
  transition: 0.2s;
}

button:hover {
  border: 1px solid black;
  background: white;
  color: black;
}

.header-text {
  margin: 35px auto;
  text-align: center;
  font-size: 1.1rem;
  width: 70%;
}

/* /////////////////// ICON PART /////////////////// */

.icon-part {
  background: black;
}

.icon-part-container {
  width: 70%;
  margin: 0 auto;
  padding: 40px 0;
  display: grid;
  grid-template-columns: 33% 33% 33%;
}

.list-icon-part {
  display: grid;
  grid-template-rows: 45% 10% 20% 25%;
  color: white;
  justify-content: center;
  align-items: center;
}

.lip-logo {
  text-align: center;
}

.list-icon-part h3 {
  text-transform: uppercase;
  font-family: "MM", sans-serif;
  text-align: center;
  margin: 70px 0;
}

.list-icon-part p {
  text-align: center;
  margin: 0 20px;
}

.list-icon-part button {
  width: 200px;
  margin: 0 auto;
}

/* /////////////////// NEWS PART /////////////////// */

.news-part {
  background: rgb(234, 234, 234);
}

.header-news {
  display: grid;
  grid-template-columns: 70% 30%;
  margin: 0 auto;
  padding: 40px 0;
  width: 70%;
}

.left-part h2 {
  text-transform: uppercase;
  letter-spacing: 2px;
  font-family: "MM", sans-serif;
}

.left-part p {
  font-family: "MM", sans-serif;
  padding: 10px 0;
}

.right-part {
  text-align: center;
}

.right-part button {
  border: 1px solid black;
  color: black;
  font-family: "MM", sans-serif;
}

.main-news {
  width: 70%;
  margin: 0 auto;
}

.main-news-container {
  display: grid;
  grid-template-columns: 33% 33% 33%;
}

.news-card {
  height: 700px;
  display: grid;
  grid-template-rows: 40% 10% 40% 10%;
}

.news-card {
  padding: 30px 0 100px;
}

.mn-pic img {
  border-radius: 5px;
  box-shadow: 2px 2px 0px rgb(102, 101, 101);
}

.news-card h4,
.news-card p {
  font-family: "MM", sans-serif;
  width: 80%;
}

.news-card h4 {
  font-size: 1.1rem;
}

.news-card a {
  text-decoration: none;
  text-transform: uppercase;
  font-family: "MM", sans-serif;
  letter-spacing: 2px;
  font-size: 0.8rem;
  color: rgb(103, 13, 103);
}

/* /////////////////// CONTACT PART /////////////////// */
.contact-container {
  width: 70%;
  margin: 0 auto;
}

.contact-list {
  display: grid;
  grid-template-columns: 25% 25% 25% 25%;
  padding: 40px 0;
}

#contact-img {
  text-align: center;
}

.contact-list h5 {
  font-family: "MM", sans-serif;
  text-transform: uppercase;
  padding: 10px 0;
}

.contact-list li {
  padding: 5px 0;
}

.contact-list a {
  text-decoration: none;
  color: rgb(103, 13, 103);
  font-family: "MM", sans-serif;
  font-size: 0.7rem;
}

.contact-list p,
.contact-list h6 {
  font-size: 0.7rem;
  font-family: "MM", sans-serif;
  padding: 5px 0;
  width: 60%;
  line-height: 1.8;
}

.footer-logos {
  width: 50%;
  padding: 10px 0;
  display: flex;
  justify-content: space-evenly;
}

.copyright {
  margin-top: 10px;
}

.contact-medias {
  display: grid;
  grid-template-columns: 25% 75%;
  padding: 30px 0;
}

.medias-text h3,
.medias-text p {
  font-family: "MM", sans-serif;
  font-size: 0.8rem;
}

.medias-text h3 {
  text-transform: uppercase;
  padding: 10px 0;
}

.medias-logos {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

/* /////////////////// FOOTER /////////////////// */

footer {
  background-color: black;
  color: white;
  text-transform: uppercase;
  text-align: center;
}

footer h3 {
  font-family: "MM", sans-serif;
  padding: 30px 0;
}

footer ul {
  display: flex;
  justify-content: space-evenly;
  width: 70%;
  margin: 0 auto;
  padding-bottom: 30px;
}
