header{
    height: 100vh;
    @include centerChild;
}

.header-container{
    text-align: center;
    color: $white;
    width: 700px;
    height: 40%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;

    h1{
        font-size: 3.5rem;
    }

    p{
        font-style: italic;
        font-family: $font2;
        font-size: 0.9rem;
    }
}