:root {
  --triangle: #6be4df;
  --croix: #767ee1;
  --rond: #f75f66;
  --carre: #f69dc8;
  --grey: #9299a9;
}

@font-face {
  font-family: "PressStart";
  src: url(./font.ttf);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: url(./bg.jpeg) center/cover;
  height: 100vh;
  font-family: "PressStart", sans-serif;
  color: var(--grey);
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
}

.card {
  background: rgba(0, 0, 0, 0.5);
  width: calc(40%);
  padding: 20px 20px 6px;
  box-shadow: 0 0 20px 8px rgba(0, 0, 0, 0.5);
  border-radius: 5px;
  backdrop-filter: blur(5px);
}

.card:before {
  content: "\266E";
  position: absolute;
  top: 0;
  right: 20px;
  font-size: 3rem;
}

h1 {
  margin-bottom: 24px;
  position: relative;
}

h1::after {
  content: "";
  position: absolute;
  background: var(--triangle);
  height: 1px;
  width: 100%;
  bottom: -14px;
  left: 50%;
  transform: translateX(-50%) scaleX(0);
  animation: h1anim 3s ease-in-out forwards;
  transform-origin: left;
}

@keyframes h1anim {
  100% {
    transform: translateX(-50%) scaleX(1);
  }
}

.grid-container {
  display: grid;
  grid-template-columns: 20% 80%;
}

.polygon-container {
  filter: drop-shadow(-1px 4px 3px var(--carre));

  /* Mettre le parent en grid */
  place-self: center;
}

.polygon {
  clip-path: polygon(
    20% 0%,
    0% 20%,
    30% 50%,
    0% 80%,
    20% 100%,
    50% 70%,
    80% 100%,
    100% 80%,
    70% 50%,
    100% 20%,
    80% 0%,
    50% 30%
  );
  background: linear-gradient(135deg, var(--triangle) 0%, var(--rond) 100%);
  height: 75px;
  width: 75px;
}

p {
  font-size: 0.8rem;
  line-height: 22px;
  margin: 20px 0;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 4;
  overflow: hidden;
  text-align: justify;
}

p::selection {
  background: var(--grey);
  color: var(--carre);
}

.checkbox-container {
  display: flex;
  justify-content: space-around;
  margin: 20px 0 30px;
}

/* Transformer des checkbox en bouton via css  */

input[type="checkbox"] {
  display: none;
}
input[type="checkbox"]:checked + label {
  background: rgba(128, 128, 128, 0.65);
}

label {
  cursor: pointer;
  border: 1px solid var(--triangle);
  background: rgba(128, 128, 128, 0.25);
  padding: 10px;
  border-radius: 5px;
  transition: 0.2s;
  user-select: none;
}

label:hover {
  transform: scale(1.1);
  animation: label1 1s infinite linear;
}

@keyframes label1 {
  50% {
    transform: scale(1.4);
  }
  100% {
    transform: scale(1);
  }
}

.e-mail {
  text-align: center;
  margin-bottom: 20px;
}

.e-mail input {
  padding: 10px;
  border-radius: 5px;
  outline: none;
  border: none;
  transition: 0.3s;
  text-align: center;
  font-size: 1.1rem;
  color: var(--grey);
  width: 45%;
  max-width: 350px;
  min-width: 180px;
  background: transparent;
}

input[type="text"]:focus {
  background: var(--triangle);
}

button {
  display: block;
  cursor: pointer;
  padding: 10px 20px;
  border-radius: 5px;
  margin: 0 auto;
  font-size: 1.3rem;
  color: var(--grey);
  background: transparent;
  border: 1px solid var(--triangle);
  transition: 0.1s;
  font-family: "PressStart";
  font-size: 1rem;
}

button:hover {
  letter-spacing: 3px;
}

button:active {
  transform: scale(1.2);
}

button:hover + a,
a:hover {
  opacity: 1;
  visibility: visible;
  transform: translateY(0);
}

a {
  display: block;
  color: var(--triangle);
  text-align: center;
  margin: 20px 0;
  font-size: 0.7rem;
  opacity: 0;
  visibility: hidden;
  transform: translateY(50px);
  transition: 0.3s;
}

a:visited {
  color: var(--triangle);
}

img {
  height: 70px;
  position: absolute;
  filter: drop-shadow(0px 6px 3px rgba(239, 239, 215, 0.6));
  z-index: -1;
  animation: falcon 30s infinite linear;
}

@keyframes falcon {
  0% {
    top: 2%;
    left: 2%;
    transform: rotate(90deg);
  }
  10% {
    top: 6%;
    left: 30%;
    transform: rotate(95deg);
  }
  20% {
    top: 9%;
    left: 60%;
    transform: rotate(60deg);
  }
  30% {
    top: 0%;
    left: 80%;
    transform: rotate(90deg);
  }
  40% {
    top: 20%;
    left: 120%;
    transform: rotate(110deg);
  }
  50% {
    top: 50%;
    left: 80%;
    transform: rotate(323deg);
  }
  60% {
    top: 90%;
    left: 90%;
    transform: rotate(256deg);
  }
  70% {
    top: 110%;
    left: 50%;
    transform: rotate(237deg);
  }
  80% {
    top: 85%;
    left: 30%;
    transform: rotate(323deg);
  }
  90% {
    top: 50%;
    left: 15%;
    transform: rotate(350deg);
  }
  100% {
    top: 2%;
    left: 2%;
    transform: rotate(90deg);
  }
}
